<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-wrapper-before"></div>
        <div class="content-header row"></div>
        <div class="content-body">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title" id="horz-layout-basic">Nạp tiền tài khoản</h4>
                                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collpase show">
                                <div class="card-body">
                                    <div class="card-text">
                                        <p>
                                            <span style="color: red">Chú ý:</span> Hãy cẩn trọng khi
                                            chuyển khoản (Copy đúng nội dung chuyển khoản).
                                        </p>
                                        <p>
                                            <span style="color: red">Lưu ý:</span> Nếu chuyển khoản sai nội dung vui lòng gửi email cho chúng tôi qua support.recharge@evmail.com kèm hình ảnh chứng minh chuyển khoản thành công.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <section id="header-footer">
                    <div class="row match-height">
                        <div class="col-xl-4 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Chuyển khoản</h4>
                                    <h6 class="card-subtitle text-muted">Ngân hàng</h6>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Ngân hàng Vietcombank</p>
                                    <p class="card-text">Chi nhánh Quảng Ngãi</p>
                                    <p class="card-text">Số tài khoản: 0271001068145</p>
                                    <p class="card-text">Nội dung: EBANK BACKLINK {{ user.username }}</p>
                                </div>
                                <div class="card-footer border-top-blue-grey border-top-lighten-5 text-muted">
                                    <span class="float-left">Tỉ lệ chuyển đổi: 1000đ = 1 điểm</span>
                                    <span class="float-right">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Ví điện tử</h4>
                                    <h6 class="card-subtitle text-muted">Momo</h6>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Số điện thoại: 0986015392</p>
                                    <p class="card-text">Nội dung: EBANK BACKLINK {{ user.username }}</p>
                                </div>
                                <div class="card-footer border-top-blue-grey border-top-lighten-5 text-muted">
                                    <span class="float-left">Tỉ lệ chuyển đổi: 1000đ = 1 điểm</span>
                                    <span class="float-right">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Ví điện tử</h4>
                                    <h6 class="card-subtitle text-muted">Aripay</h6>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Số điện thoại: 0986015392</p>
                                    <p class="card-text">Nội dung: EBANK BACKLINK {{ user.username }}</p>
                                </div>
                                <div class="card-footer border-top-blue-grey border-top-lighten-5 text-muted">
                                    <span class="float-left">Tỉ lệ chuyển đổi: 1000đ = 1 điểm</span>
                                    <span class="float-right">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>