<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-wrapper-before"></div>
        <div class="content-header row">
            <div class="content-header-left col-md-4 col-12 mb-2">
                <h3 class="content-header-title">Backlink - Thống kê truy cập</h3>
            </div>
            <div class="content-header-right col-md-8 col-12">
                <div class="breadcrumbs-top float-md-right">
                    <div class="breadcrumb-wrapper mr-1">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a>Trang
                                    chủ</a></li>
                            <li class="breadcrumb-item"><a href="#">Quản Lý
                                    Backlink</a></li>
                            <li class="breadcrumb-item active">Thống kê truy cập</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-div">
            <!-- Bordered striped start -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Hoạt động gần đây</h4>
                            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                    <li><a data-action="close"><i class="ft-x"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content collapse show">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Backlink</th>
                                            <th>Lượng truy cập</th>
                                            <th>Lượng khách hàng mới</th>
                                            <th>Truy cập hợp lệ</th>
                                            <th>Lưu Lượng trình duyệt</th>
                                            <th>Địa chỉ truy cập</th>
                                            <th>Thời gian lưu lại</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>http://h2team.blog/gioi-thieu-ve-h2team.hmtl</td>
                                            <td>1501</td>
                                            <td>485</td>
                                            <td>995/1501</td>
                                            <td>
                                                Google Chrome 65%<br>
                                                Firefox 15%<br>
                                                Yan 1%<br>
                                                Orther 19%
                                            </td>
                                            <td>105.244.2.15<br> 152.54.48.2,...<span
                                                    class="badge badge-pill badge-info m-0">Chi tiết</span></td>
                                            <td>45h</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>http://h2team.blog/gioi-thieu-ve-h5team.hmtl</td>
                                            <td>5984</td>
                                            <td>4002</td>
                                            <td>4802/5984</td>
                                            <td>
                                                Google Chrome 75%<br>
                                                Firefox 16%<br>
                                                Orther 9%
                                            </td>
                                            <td>105.244.2.15<br> 152.54.48.2,...<span
                                                    class="badge badge-pill badge-info m-0">Chi tiết</span></td>
                                            <td>45h</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>