<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Thêm, xóa, sửa thành viên</h4>
                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="bg-gradient-x2-primary white">
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Username</th>
                                <th class="text-center">Tên Thành Viên</th>
                                <th class="text-center">Giới Tính</th>
                                <th class="text-center">Ngày Tạo</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="!listUser">
                                <td colspan="8" class="text-center text-danger text-bold-700">Chưa có dữ
                                    liệu</td>
                            </tr>
                            <tr *ngFor="let user of listUser; index as i">
                                <th scope="row"> #{{ i + 1}}</th>
                                <td class="text-center primary font-medium-1 font-weight-bold">{{ user.username }}</td>
                                <td class="text-center info font-medium-1 font-weight-bold">{{ user.fullname }}</td>
                                <td class="text-center"><span class="badge badge-{{ user.gender ? 'primary' : 'danger' }} font-medium-1">{{ user.gender ? 'Nam' : 'Nữ' }}</span></td>
                                <td class="text-center red font-medium-1 font-weight-bold">{{ user.createAt | date: "hh:mm a dd/MM/yyyy"}}</td>
                                <td class="d-flex justify-content-center">
                                    <button type="button" class="btn btn-outline-info mr-1" [routerLink]="['./', user.id]">
                                        <i class="ft-edit"></i>
                                    </button>
                                    <button type="button" class="btn btn-outline-danger mr-1 delete-item" (click)="deleteClick(user.id)">
                                        <i class="ft-trash-2"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<swal #deleteSwal title="Xóa Tài Khoản" text="Bạn có chắc chắn xóa tài khoản này?" type="warning" [showCancelButton]="true"
    [focusCancel]="true" (confirm)="deleteUser()">
</swal>
