<div class="main-menu menu-fixed menu-light menu-accordion    menu-shadow " data-scroll-to-active="true"
  data-img="/assets/images/backgrounds/02.jpg">
  <div class="navbar-header">
    <ul class="nav navbar-nav flex-row">
      <li class="nav-item mr-auto"><a class="navbar-brand" [routerLink]="['/']"><img class="brand-logo"
            alt="Chameleon admin logo" src="/assets/images/logo/logo.png">
          <h3 class="brand-text">Backlink</h3>
        </a></li>
      <li class="nav-item d-md-none"><a class="nav-link close-navbar"><i class="ft-x"></i></a></li>
    </ul>
  </div>
  <div class="navigation-background"></div>
  <div class="main-menu-content">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
      <li class=" nav-item "><a class="" [routerLink]="['/dashboard/']" routerLinkActive="active"><i class="ft-home"></i><span class="menu-title" data-i18n="">Trang
            Chủ</span></a></li>
      <li class=" nav-item has-sub"><a href="#"><i class="ft-bar-chart-2"></i><span class="menu-title" data-i18n="">Quản
            Lý Backlink</span></a>
        <ul class="menu-content">
          <li class=""><a class="menu-item" [routerLink]="['./add-backlink']" routerLinkActive="active">Thêm Backlink</a>
          </li>
          <li class=""><a class="menu-item" [routerLink]="['./add-action']" routerLinkActive="active">Thêm Yêu Cầu Hành Động</a>
          </li>
          <li class=""><a class="menu-item" [routerLink]="['./statistical-access']" routerLinkActive="active">Thống Kê Truy Cập</a>
          </li>
        </ul>
      </li>
      <!-- <li class=" nav-item has-sub"><a href="#"><i class="ft-zap"></i><span class="menu-title" data-i18n="">Thanh
            Toán</span></a>
        <ul class="menu-content">
          <li class=""><a class="menu-item" href="pay/recharge.html">Nạp tiền</a>
          </li>
          <li class=""><a class="menu-item" href="pay/transaction-history.html">Lịch sử giao dịch</a>
          </li>
        </ul>
      </li>
      <li class="nav-item has-sub"><a href="#"><i class="ft-sunset"></i><span class="menu-title" data-i18n="">Doanh
            Thu</span></a>
        <ul class="menu-content">
          <li class=""><a class="menu-item" href="revenue/advertisement.html">DT Quảng Cáo</a>
          </li>
          <li class=""><a class="menu-item" href="revenue/exchange.html">DT Giao Dịch</a>
          </li>
        </ul>
      </li> -->
      <li class=" nav-item has-sub"><a href="#"><i class="ft-aperture"></i><span class="menu-title" data-i18n="">Quản Lý
            Điểm</span></a>
        <ul class="menu-content">
          <li class=""><a class="menu-item" [routerLink]="['./point-member']" routerLinkActive="active">Thành Viên</a>
          </li>
          <li class=""><a class="menu-item" [routerLink]="['./point-log']" routerLinkActive="active">Log</a>
          </li>
        </ul>
      </li>
      <li class=" nav-item has-sub"><a href="#"><i class="ft-users" routerLinkActive="active"></i><span class="menu-title" data-i18n="">Quản Lý Tài
            Khoản</span></a>
        <ul class="menu-content">
            <li class=""><a class="menu-item" [routerLink]="['./users/add']" routerLinkActive="active">Thêm Thành Viên</a>
          <li class=""><a class="menu-item" [routerLink]="['./users']" routerLinkActive="active">Danh Sách</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>