<div class="app-content content">
	<div class="content-wrapper">
		<div class="content-wrapper-before"></div>
		<div class="content-header row">
			<div class="content-header-left col-md-4 col-12 mb-2">
				<h3 class="content-header-title">Backlink - Thêm mới Yêu Cầu Hành Động</h3>
			</div>
			<div class="content-header-right col-md-8 col-12">
				<div class="breadcrumbs-top float-md-right">
					<div class="breadcrumb-wrapper mr-1">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="index.html">Trang
									chủ</a></li>
							<li class="breadcrumb-item"><a href="#">Quản Lý
									Backlink</a></li>
							<li class="breadcrumb-item active">Thêm mới Yêu Cầu Hành Động</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<div class="content-div">
			<div class="row">
				<div class="col-xl-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title" id="horz-layout-basic">Thêm mới
								Backlink</h4>
							<a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
							<div class="heading-elements">
								<ul class="list-inline mb-0">
									<li><a data-action="collapse"><i class="ft-minus"></i></a></li>
									<li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
									<li><a data-action="expand"><i class="ft-maximize"></i></a></li>
									<li><a data-action="close"><i class="ft-x"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="card-content collpase show">
							<div class="card-div">
								<div class="card-text">
									<p>
										<span style="color: red">Chú ý:</span> Hãy cẩn trọng khi thay
										đổi bất kì thông tin nào.
									</p>
									<p>
										<span style="color: red">(*):</span> Thông tin bắt buộc.
									</p>
								</div>
								<form class="form form-horizontal" action="./account/manager.html" method="POST">
									<div class="form-div">
										<h4 class="form-section">
											<i class="ft-clipboard"></i>Thông Tin Hành Động
										</h4>
										<div class="form-group row">
											<label class="col-md-3 label-control" for="projectinput5"><span
													style="color: red">(*)</span> Đường dẫn yêu cầu</label>
											<div class="col-md-9">
												<input type="text" id="projectinput5" class="form-control" value=""
													name="username"
													placeholder="Ví dụ: http://h2team.blog/gioi-thieu-ve-h2team.hmtl">
											</div>
										</div>
										<div class="form-group row">
											<label class="col-md-3 label-control" for="projectinput5"><span
													style="color: red">(*)</span> Kênh tìm kiếm hợp lệ</label>
											<div class="col-md-9">
												<textarea class="form-control" id="descTextarea" rows="3"
													placeholder="Ví dụ: google.com , bing.com, yahoo.com..."></textarea>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-md-3 label-control" for="projectinput5"><span
													style="color: red">(*)</span> Từ khóa tìm kiếm hợp lệ</label>
											<div class="col-md-9">
												<textarea class="form-control" id="descTextarea" rows="3"
													placeholder="Ví dụ: h2team , h2 team,..."></textarea>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-md-3 label-control" for="projectinput5"><span
													style="color: red">(*)</span> Danh sách trình duyệt hợp lệ</label>
											<div class="col-md-9">
												<textarea class="form-control" id="descTextarea" rows="3"
													placeholder="Ví dụ: Chrome , Opera, Firefox,..."></textarea>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-md-3 label-control" for="projectinput5"><span
													style="color: red">(*)</span> Điểm quy đổi</label>
											<div class="col-md-9">
												<input type="text" id="projectinput5" class="form-control" value=""
													name="username">
											</div>
										</div>
										<div class="form-group row">
											<label class="col-md-3 label-control" for="projectinput5"><span
													style="color: red">(*)</span> Mã theo dõi</label>
											<div class="col-md-9">
												<input type="text" id="projectinput5" class="form-control"
													value="BL01544877" name="username" readonly="readonly">
											</div>
										</div>
										<div class="form-group row">
											<label class="col-md-3 label-control" for="projectinput5"></label>
											<div class="col-md-9">
													<ui-switch [checked]="true"></ui-switch>
													<label for="switcheryColor" class="card-title ml-1">Chặn
												trình thu thập dữ liệu</label>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-md-3 label-control" for="projectinput5"></label>
											<div class="col-md-9">
													<ui-switch [checked]="true"></ui-switch>
													<label for="switcheryColor" class="card-title ml-1">Lọc
												truy cập ảo</label>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-md-3 label-control" for="projectinput5"></label>
											<div class="col-md-9">
												<ui-switch [checked]="true"></ui-switch>
												<label for="switcheryColor" class="card-title ml-1">Lưu
												thông tin truy cập</label>
											</div>
										</div>
									</div>
									<div class="form-actions right">
										<button type="button" class="btn btn-primary mr-1">
											<i class="la la-check-square-o"></i> Thêm mới
										</button>
									</div>

								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>