/* body {
    padding-top: 5rem;
} */

ui-switch, td, th{
    vertical-align: middle !important;
}

app-sidebar .main-menu.menu-light .navigation>li ul .open>a,app-sidebar .main-menu.menu-light .navigation>li .active  {
    font-weight: 700;
    color: #fa626b !important;
}

app-sidebar .main-menu.menu-light .navigation>li ul .open>a.active::before {
    left: 85px;
    display: block;
    width: 7px;
    height: 7px;
    transition: all .2s ease;
    transform: translate(-10px,-50%);
    -webkit-transition: all .2s ease;
    background-color: #fa626b;
    content: '';
    opacity: 1;
    border-color: #fa626b;
    position: absolute;
    top: 50%;
    border-radius: 50%;
}

.form-control.is-invalid-api {
    border-color: #fa626b !important;
    padding-right: 2.75rem !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fa626…%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E") !important;
    background-repeat: no-repeat !important;
    background-position: center right calc(0.3125em + 0.375rem) !important;
    background-size: calc(0.625em + 0.75rem) calc(0.625em + 0.75rem) !important;
}

.form-control.is-invalid-api ~ .invalid-tooltip.api-error{
    display: block;
}

tag-input{
    border-bottom: 1px solid #0275d8;
}