<div class="vertical-layout 2-columns fixed-navbar pace-done vertical-menu menu-expanded" data-open="click" data-menu="vertical-menu"
	data-color="bg-gradient-x-purple-blue" data-col="2-columns">

	<!-- BEGIN: Header-->
	<app-header class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-semi-light"></app-header>
	<!-- END: Header-->

	<!-- BEGIN: Main Menu-->
	<app-sidebar></app-sidebar>
	<!-- END: Main Menu-->

	<!-- BEGIN: Content-->
	<!-- <app-index></app-index> -->
	<router-outlet></router-outlet>
	<!-- END: Content-->

	<!-- BEGIN: Footer-->
	<app-footer></app-footer>
	<!-- END: Footer-->
</div>