<div class="app-content content">
	<div class="content-wrapper">
		<div class="content-wrapper-before"></div>
		<div class="content-header row"></div>
		<div class="content-body">
			<!-- Revenue, Hit Rate & Deals -->
			<div class="row">
				<div class="col-lg-8 col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Thống Kê Lưu Lượng Backlink</h4>
							<a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
						</div>
						<div class="card-content collapse show">
							<div class="card-body p-0 pb-0" *ngIf="user_backlink">
								<div class="chartist">
									<div id="project-stats" class="height-350 areaGradientShadow1"></div>
								</div>
							</div>
							<div class="card-body text-center pt-1" *ngIf="!user_backlink">
								<div class="spinner-grow text-primary" role="status">
									<span class="sr-only">Loading...</span>
								</div>
								<div class="spinner-grow text-secondary" role="status">
									<span class="sr-only">Loading...</span>
								</div>
								<div class="spinner-grow text-success" role="status">
									<span class="sr-only">Loading...</span>
								</div>
								<div class="spinner-grow text-danger" role="status">
									<span class="sr-only">Loading...</span>
								</div>
								<div class="spinner-grow text-warning" role="status">
									<span class="sr-only">Loading...</span>
								</div>
								<div class="spinner-grow text-info" role="status">
									<span class="sr-only">Loading...</span>
								</div>
								<div class="spinner-grow text-light" role="status">
									<span class="sr-only">Loading...</span>
								</div>
								<div class="spinner-grow text-dark" role="status">
									<span class="sr-only">Loading...</span>
								</div>
								<p>Vui lòng lựa chọn backlink từ danh sách bên cạnh</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-12">
					<div class="row">
						<div class="col-12">
							<div class="card pull-up border-top-info border-top-3 rounded-0">
								<div class="card-header mb-0 pb-0">
									<h4 class="card-title">
										Danh sách Backlink của bạn <span
											class="badge badge-pill badge-info float-right m-0"
											*ngIf="user_backlinks.length != 0">{{user_backlinks.length - 1}}+</span>
									</h4>
									<p class="m-0">Lựa chọn backlink trong danh sách backlink của bạn để hiển thị thông
										tin tiến trình, chi tiết lưu lượng truy cập backlink.</p>
								</div>
								<div class="card-content collapse show">
									<div class="card-body p-1">
										<fieldset class="form-group">
											<select class="form-control" [(ngModel)]="user_backlink"
												(change)="onBacklinkChange()" *ngIf="user_backlinks.length != 0">
												<option value="">---Lựa chọn backlink---</option>
												<option *ngFor="let backlink of user_backlinks; index as i"
													value="{{ backlink.id }}">Mã: {{ backlink.id }}</option>
											</select>
											<div class="text-center" *ngIf="user_backlinks.length == 0">
												<p>Vui lòng thêm backlink</p>
												<a [routerLink]="['/dashboard/add-backlink']"
													class="btn btn-glow btn-round btn-bg-gradient-x-red-pink">Tạo
													backlink</a>
											</div>
										</fieldset>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12">
							<div class="card pull-up">
								<div class="card-header">
									<h4 class="card-title float-left">Tác vụ</h4>
									<a class="heading-elements-toggle"><i
											class="la la-ellipsis-v font-medium-3"></i></a>
									<span class="badge badge-pill badge-info float-right m-0"
										*ngIf="user_backlink && user_backlink_info.limit_active > 0">Đang
										trong tiến
										trình</span>
									<span class="badge badge-pill badge-success float-right m-0"
										*ngIf="user_backlink && user_backlink_info.limit_active == 0">Đã hoàn
										thành</span>
								</div>
								<div class="card-content collapse show">
									<div class="card-body pt-0 pb-1" *ngIf="user_backlink">
										<h6 class="text-muted font-small-3">Task đã hoàn thành:
											{{(user_backlink_info.limit - user_backlink_info.limit_active)}}
											/ {{user_backlink_info.limit}} </h6>
										<div class="progress progress-sm mt-1 mb-0 box-shadow-2">
											<div class="progress-bar bg-gradient-x-info" role="progressbar"
												style="width: 25%" aria-valuenow="" aria-valuemin="0"
												aria-valuemax="100"
												*ngIf="user_backlink && user_backlink_info.limit_active > 0"></div>
											<div class="progress-bar bg-gradient-x-success" role="progressbar"
												style="width: 100%" aria-valuenow="100" aria-valuemin="0"
												aria-valuemax="100"
												*ngIf="user_backlink && user_backlink_info.limit_active == 0"></div>
										</div>
										<div class="media d-flex">
											<div class="align-self-center">
												<h6 class="text-bold-600 mt-2">
													Chiến dịch: <span class="info">{{user_backlink_info.id}}</span>
												</h6>
												<h6 class="text-bold-600 mt-1">
													Deadline: <span
														class="blue-grey">{{user_backlink_info.endTime | date:'medium' }}</span>
												</h6>
											</div>
											<div class="media-body text-right mt-2">
											</div>
										</div>
									</div>
									<div class="card-body text-center pt-1" *ngIf="!user_backlink">
										<div class="spinner-grow text-primary" role="status">
											<span class="sr-only">Loading...</span>
										</div>
										<div class="spinner-grow text-secondary" role="status">
											<span class="sr-only">Loading...</span>
										</div>
										<div class="spinner-grow text-success" role="status">
											<span class="sr-only">Loading...</span>
										</div>
										<div class="spinner-grow text-danger" role="status">
											<span class="sr-only">Loading...</span>
										</div>
										<div class="spinner-grow text-warning" role="status">
											<span class="sr-only">Loading...</span>
										</div>
										<div class="spinner-grow text-info" role="status">
											<span class="sr-only">Loading...</span>
										</div>
										<div class="spinner-grow text-light" role="status">
											<span class="sr-only">Loading...</span>
										</div>
										<div class="spinner-grow text-dark" role="status">
											<span class="sr-only">Loading...</span>
										</div>
										<p>Vui lòng lựa chọn backlink từ danh sách bên trên</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ Revenue, Hit Rate & Deals -->
			<!-- Emails Products & Avg Deals -->
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<div class="card">
						<div class="card-header p-1">
							<h4 class="card-title float-left">
								Chiến dịch SEO - <span class="blue-grey lighten-2 font-small-3 mb-0"
									*ngIf="user_backlink">{{user_backlink_info.beginTime | date:'dd-MM-yyyy' }} -
									{{user_backlink_info.endTime | date:'dd-MM-yyyy' }}</span>
							</h4>
							<span class="badge badge-pill badge-info float-right m-0"
								*ngIf="user_backlink && user_backlink_info.limit_active > 0">Đang
								trong tiến
								trình</span>
							<span class="badge badge-pill badge-success float-right m-0"
								*ngIf="user_backlink && user_backlink_info.limit_active == 0">Đã hoàn thành</span>
						</div>
						<div class="card-content collapse show">
							<div class="card-footer text-center p-1" *ngIf="user_backlink">
								<div class="row">
									<div
										class="col-md-3 col-12 border-right-blue-grey border-right-lighten-5 text-center">
										<p class="blue-grey lighten-2 mb-0">Tasks</p>
										<p class="font-medium-5 text-bold-400">
											{{user_backlink_info.limit - (user_backlink_info.limit - user_backlink_info.limit_active)}}
											/ {{user_backlink_info.limit}}</p>
									</div>
									<div
										class="col-md-3 col-12 border-right-blue-grey border-right-lighten-5 text-center">
										<p class="blue-grey lighten-2 mb-0">Hoàn thành</p>
										<p class="font-medium-5 text-bold-400">
											{{math.round((user_backlink_info.limit - user_backlink_info.limit_active) / user_backlink_info.limit * 100)}}%
										</p>
									</div>
									<div
										class="col-md-3 col-12 border-right-blue-grey border-right-lighten-5 text-center">
										<p class="blue-grey lighten-2 mb-0">Chưa giải quyết</p>
										<p class="font-medium-5 text-bold-400">
											{{math.round(user_backlink_info.limit_active / user_backlink_info.limit * 100)}}%
										</p>
									</div>
									<div class="col-md-3 col-12 text-center">
										<p class="blue-grey lighten-2 mb-0">Thời hạn</p>
										<p class="font-medium-5 text-bold-400">
											{{user_backlink_info.endTime | date:'medium' }}</p>
									</div>
								</div>
								<hr>
								<span class="text-muted"><a href="#" class="danger darken-2">Backlink H2TEAM</a> Số
									liệu thống kê</span>
							</div>
							<div class="card-body text-center pt-1" *ngIf="!user_backlink">
								<div class="spinner-grow text-primary" role="status">
									<span class="sr-only">Loading...</span>
								</div>
								<div class="spinner-grow text-secondary" role="status">
									<span class="sr-only">Loading...</span>
								</div>
								<div class="spinner-grow text-success" role="status">
									<span class="sr-only">Loading...</span>
								</div>
								<div class="spinner-grow text-danger" role="status">
									<span class="sr-only">Loading...</span>
								</div>
								<div class="spinner-grow text-warning" role="status">
									<span class="sr-only">Loading...</span>
								</div>
								<div class="spinner-grow text-info" role="status">
									<span class="sr-only">Loading...</span>
								</div>
								<div class="spinner-grow text-light" role="status">
									<span class="sr-only">Loading...</span>
								</div>
								<div class="spinner-grow text-dark" role="status">
									<span class="sr-only">Loading...</span>
								</div>
								<p>Vui lòng lựa chọn backlink từ danh sách bên trên</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Danh sách Backlink cần trao đổi</h4>
							<a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
							<div class="heading-elements">
								<ul class="list-inline mb-0">
									<li><a data-action="collapse"><i class="ft-minus"></i></a></li>
									<li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
									<li><a data-action="expand"><i class="ft-maximize"></i></a></li>
									<li><a data-action="close"><i class="ft-x"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="card-content collapse show">
							<div class="table-responsive">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>#</th>
											<th>Mã BL</th>
											<th>Loại BL</th>
											<th>Điểm quy đổi</th>
											<th>Số lượt quy đổi</th>
											<th>Thời gian kết thúc</th>
											<th>Hành Động</th>
										</tr>
									</thead>
									<tbody [@listStagger]='backlinks.length'>
										<tr *ngFor="let backlink of backlinks; index as i">
											<td>{{ i + 1}}</td>
											<td>{{backlink.id}}</td>
											<td *ngIf="backlink.blockPixel">Action</td>
											<td *ngIf="!backlink.blockPixel">Backlink</td>
											<td>{{backlink.point}}</td>
											<td>{{backlink.limit}}</td>
											<td>{{backlink.endTime | date:'HH:mm:ss dd-MM-yyyy'}}</td>
											<td class="text-center">
												<button type="button" class="btn btn-outline-primary mr-1"
													(click)="onClickBacklinkDetail(backlink.id);">
													<i class="ft-eye"></i> Chi tiết
												</button>
											</td>
										</tr>
										<tr>
											<td colspan="7" class="text-center">
												<button type="button" class="btn btn-outline-warning mr-1"
													(click)="onLoadNextPage()">
													<i class="ft-repeat"></i> Xem thêm
												</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!--Large modal Backlink-->
							<div *ngIf="verify" bsModal #childModal="bs-modal" class="modal fade" tabindex="-1"
								role="dialog" aria-labelledby="dialog-sizes-name1">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										<div class="modal-header">
											<h4 id="dialog-sizes-name1" class="modal-title pull-left">Thông tin Backlink
											</h4>
											<button type="button" class="close pull-right" (click)="childModal.hide()"
												aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body row">
											<div class="col-md-12">
												<p>Mã Backlink : <code *ngIf="backlink">{{ backlink.id }}</code></p>
												<p>
													Điểm thưởng mỗi trang Backlink : <code
														*ngIf="backlink">{{ math.round(backlink.point / backlink.limit * 0.9) }}</code>
													|
													Thời gian kết thúc Backlink <code
														*ngIf="backlink">{{backlink.endTime | date:'HH:mm:ss dd-MM-yyyy'}}</code>
												</p>
											</div>
											<div class="col-md-12">
												<p><code>Lưu ý:</code> Backlink sau khi được xác thực đã gắn vào website
													của bạn, điểm thưởng sẽ được cộng vào "Ví điểm khóa" và số điểm này
													sẽ được chuyển đến "Ví điểm thực" sau khi thời hạn Backlink này kết
													thúc.</p>
											</div>
											<hr>
											<div class="col-md-12">
												<p>Các bước xác nhận gắn Backlink vào trang web của bạn:</p>
												<p>Bước 1 : Chèn mã sau vào nội dung trong website của bạn :</p>
												<pre class="language-markup">
													<code class="language-markup">{{blcode}}</code>
												</pre>
												<p>Bước 2 : Nhúng mã sau vào trang web của bạn :</p>
												<pre class="language-markup">
													<code class="language-markup">{{verify}}</code>
												</pre>
												<br>
												<p>Bước 3 : Nhấn "Xác Thực" để hệ thống xác thực mã nhúng của bạn</p>
												<form [formGroup]="varifyForm" (ngSubmit)="onVerifySubmit()"
													class="text-center">
													<div class="form-group row">
														<div class="col-md-12">
															<input type="text" class="form-control" value=""
																formControlName="urlVerify"
																placeholder="Nhập Url bạn đã nhúng mã trên">
															<div class="invalid-tooltip"
																*ngIf="varifyForm && varifyForm.controls.urlVerify.errors && !varifyForm.controls.urlVerify.pristine">
																{{varifyForm.controls.urlVerify.errors.message}}
															</div>
														</div>
													</div>
													<button type="submit" class="btn btn-outline-success mr-1">
														<i class="ft-repeat"></i> Xác thực
													</button>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--Large modal Actions-->
							<div *ngIf="verify" bsModal #childModalAction="bs-modal" class="modal fade" tabindex="-1"
								role="dialog" aria-labelledby="dialog-sizes-name1">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										<div class="modal-header">
											<h4 id="dialog-sizes-name1" class="modal-title pull-left">Thông tin Backlink
											</h4>
											<button type="button" class="close pull-right"
												(click)="childModalAction.hide()" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body row">
											<div class="col-md-12">
												<p>Mã Backlink : <code *ngIf="backlink">{{ backlink.id }}</code></p>
												<p>
													Điểm thưởng mỗi trang Backlink : <code
														*ngIf="backlink">{{ math.round(backlink.point / backlink.limit * 0.9) }}</code>
													|
													Thời gian kết thúc Backlink <code
														*ngIf="backlink">{{backlink.endTime | date:'HH:mm:ss dd-MM-yyyy'}}</code>
												</p>
											</div>
											<div class="col-md-12">
												<p><code>Lưu ý:</code> Backlink sau khi được xác thực đã gắn vào website
													của bạn, điểm thưởng sẽ được cộng vào "Ví điểm khóa" và số điểm này
													sẽ được chuyển đến "Ví điểm thực" sau khi thời hạn Backlink này kết
													thúc.</p>
											</div>
											<hr>
											<div class="col-md-12">
												<p>Bước 1 : Truy cập extention và nhập mã sau :</p>
												<pre class="language-markup">
													<code>id của action</code>
												</pre>
												<p>Bước 2 : Truy cập vào một trong các kênh tìm kiếm sau :</p>
												<pre class="language-markup">
													<code>Google, Bing, Yandex</code>
												</pre>
												<p>Bước 3 : Tìm kiếm theo cú pháp kèm từ khóa:</p>
												Chọn 1 trong các từ khóa sau: từ khóa 1, từ khóa 2
												<pre class="language-markup">
													<code>https://www.youtube.com/watch?v=OFrPeXZXOpY + từ khóa</code>
												</pre>
												<p>Bước 4 : Nhận kết quả trả về và nhận điểm</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Danh sách Action cần trao đổi</h4>
							<a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
							<div class="heading-elements">
								<ul class="list-inline mb-0">
									<li><a data-action="collapse"><i class="ft-minus"></i></a></li>
									<li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
									<li><a data-action="expand"><i class="ft-maximize"></i></a></li>
									<li><a data-action="close"><i class="ft-x"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="card-content collapse show">
							<div class="table-responsive">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>#</th>
											<th>Mã BL</th>
											<th>Loại BL</th>
											<th>Điểm quy đổi</th>
											<th>Số lượt quy đổi</th>
											<th>Thời gian kết thúc</th>
											<th>Hành Động</th>
										</tr>
									</thead>
									<tbody [@listStagger]='backlinks.length'>
										<tr *ngFor="let backlink of backlinks; index as i">
											<td>{{ i + 1}}</td>
											<td>{{backlink.id}}</td>
											<td *ngIf="backlink.blockPixel">Action</td>
											<td *ngIf="!backlink.blockPixel">Backlink</td>
											<td>{{backlink.point}}</td>
											<td>{{backlink.limit}}</td>
											<td>{{backlink.endTime | date:'HH:mm:ss dd-MM-yyyy'}}</td>
											<td class="text-center">
												<button type="button" class="btn btn-outline-primary mr-1"
													(click)="onClickActionDetail(backlink.id);">
													<i class="ft-eye"></i> Chi tiết
												</button>
											</td>
										</tr>
										<tr>
											<td colspan="7" class="text-center">
												<button type="button" class="btn btn-outline-warning mr-1"
													(click)="onLoadNextPage()">
													<i class="ft-repeat"></i> Xem thêm
												</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!--Large modal Actions-->
							<div *ngIf="verify" bsModal #childModalAction="bs-modal" class="modal fade" tabindex="-1"
								role="dialog" aria-labelledby="dialog-sizes-name1">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										<div class="modal-header">
											<h4 id="dialog-sizes-name1" class="modal-title pull-left">Thông tin Action
											</h4>
											<button type="button" class="close pull-right"
												(click)="childModalAction.hide()" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body row">
											<div class="col-md-12">
												<p>Mã Action : <code *ngIf="backlink">{{ backlink.id }}</code></p>
												<p>
													Điểm thưởng mỗi trang Backlink : <code
														*ngIf="backlink">{{ math.round(backlink.point / backlink.limit * 0.9) }}</code>
													|
													Thời gian kết thúc Backlink <code
														*ngIf="backlink">{{backlink.endTime | date:'HH:mm:ss dd-MM-yyyy'}}</code>
												</p>
											</div>
											<div class="col-md-12">
												<p><code>Lưu ý:</code> Backlink sau khi được xác thực đã gắn vào website
													của bạn, điểm thưởng sẽ được cộng vào "Ví điểm khóa" và số điểm này
													sẽ được chuyển đến "Ví điểm thực" sau khi thời hạn Backlink này kết
													thúc.</p>
											</div>
											<hr>
											<div class="col-md-12">
												<p>Bước 1 : Truy cập extention và nhập mã sau :</p>
												<pre class="language-markup">
													<code>id của action</code>
												</pre>
												<p>Bước 2 : Truy cập vào một trong các kênh tìm kiếm sau :</p>
												<pre class="language-markup">
													<code>Google, Bing, Yandex</code>
												</pre>
												<p>Bước 3 : Tìm kiếm theo cú pháp kèm từ khóa:</p>
												Chọn 1 trong các từ khóa sau: từ khóa 1, từ khóa 2
												<pre class="language-markup">
													<code>https://www.youtube.com/watch?v=OFrPeXZXOpY + từ khóa</code>
												</pre>
												<p>Bước 4 : Nhận kết quả trả về và nhận điểm</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--/ Emails Products & Avg Deals -->
				<!--/ Products sell and New Orders -->
			</div>
		</div>
	</div>