<div class="app-content content">
	<div class="content-wrapper">
		<div class="content-wrapper-before"></div>
		<div class="content-header row"></div>
		<div class="content-body">
			<!-- Revenue, Hit Rate & Deals -->
			<div class="row">
				<div class="col-lg-8 col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Thống Kê Lưu Lượng Backlink</h4>
							<a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
							<div class="heading-elements">
								<ul class="list-inline mb-0">
									<li><button type="button"
											class="btn btn-glow btn-round btn-bg-gradient-x-red-pink">Xem
											thêm</button></li>
								</ul>
							</div>
						</div>
						<div class="card-content collapse show">
							<div class="card-body p-0 pb-0">
								<div class="chartist">
									<div id="project-stats" class="height-350 areaGradientShadow1"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-12">
					<div class="row">
						<div class="col-12">
							<div class="card pull-up">
								<div class="card-header">
									<h4 class="card-title float-left">Tác vụ</h4>
									<a class="heading-elements-toggle"><i
											class="la la-ellipsis-v font-medium-3"></i></a> <span
										class="badge badge-pill badge-info float-right m-0">Đang trong tiến
										trình</span>
								</div>
								<div class="card-content collapse show">
									<div class="card-body pt-0 pb-1">
										<h6 class="text-muted font-small-3">Task đã hoàn thành:
											4/10</h6>
										<div class="progress progress-sm mt-1 mb-0 box-shadow-2">
											<div class="progress-bar bg-gradient-x-info" role="progressbar"
												style="width: 25%" aria-valuenow="25" aria-valuemin="0"
												aria-valuemax="100"></div>
										</div>
										<div class="media d-flex">
											<div class="align-self-center">
												<h6 class="text-bold-600 mt-2">
													Chiến dịch: <span class="info">Xeon Inc.</span>
												</h6>
												<h6 class="text-bold-600 mt-1">
													Deadline: <span class="blue-grey">25/08/2019</span>
												</h6>
											</div>
											<div class="media-body text-right mt-2">
												<ul class="list-unstyled users-list">
													<li data-toggle="tooltip" data-popup="tooltip-custom"
														data-original-title="John Doe" class="avatar avatar-sm pull-up">
														<img class="media-object rounded-circle"
															src="/assets/images/portrait/small/avatar-s-19.png"
															alt="Avatar"></li>
													<li data-toggle="tooltip" data-popup="tooltip-custom"
														data-original-title="Katherine Nichols"
														class="avatar avatar-sm pull-up"><img
															class="media-object rounded-circle"
															src="/assets/images/portrait/small/avatar-s-18.png"
															alt="Avatar"></li>
													<li data-toggle="tooltip" data-popup="tooltip-custom"
														data-original-title="Joseph Weaver"
														class="avatar avatar-sm pull-up"><img
															class="media-object rounded-circle"
															src="/assets/images/portrait/small/avatar-s-17.png"
															alt="Avatar"></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12">
							<div class="card pull-up border-top-info border-top-3 rounded-0">
								<div class="card-header">
									<h4 class="card-title">
										Khách hàng mới <span
											class="badge badge-pill badge-info float-right m-0">500+</span>
									</h4>
								</div>
								<div class="card-content collapse show">
									<div class="card-body p-1">
										<h4 class="font-large-1 text-bold-400">
											185,055 <i class="ft-users float-right"></i>
										</h4>
									</div>
									<div class="card-footer p-1">
										<span class="text-muted"><i class="la la-arrow-circle-o-up info"></i> Tăng
											23.67%</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ Revenue, Hit Rate & Deals -->
			<!-- Emails Products & Avg Deals -->
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<div class="card">
						<div class="card-header p-1">
							<h4 class="card-title float-left">
								Chiến dịch SEO - <span class="blue-grey lighten-2 font-small-3 mb-0">08/08/2019 -
									09/09/2019</span>
							</h4>
							<span class="badge badge-pill badge-info float-right m-0">Đang trong tiến trình</span>
						</div>
						<div class="card-content collapse show">
							<div class="card-footer text-center p-1">
								<div class="row">
									<div
										class="col-md-3 col-12 border-right-blue-grey border-right-lighten-5 text-center">
										<p class="blue-grey lighten-2 mb-0">Tasks</p>
										<p class="font-medium-5 text-bold-400">56</p>
									</div>
									<div
										class="col-md-3 col-12 border-right-blue-grey border-right-lighten-5 text-center">
										<p class="blue-grey lighten-2 mb-0">Hoàn thành</p>
										<p class="font-medium-5 text-bold-400">58%</p>
									</div>
									<div
										class="col-md-3 col-12 border-right-blue-grey border-right-lighten-5 text-center">
										<p class="blue-grey lighten-2 mb-0">Chưa giải quyết</p>
										<p class="font-medium-5 text-bold-400">42%</p>
									</div>
									<div class="col-md-3 col-12 text-center">
										<p class="blue-grey lighten-2 mb-0">Thời hạn</p>
										<p class="font-medium-5 text-bold-400">09/09/2019</p>
									</div>
								</div>
								<hr>
								<span class="text-muted"><a href="#" class="danger darken-2">Backlink H2TEAM</a> Số
									liệu thống kê</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Danh sách Backlink và Action cần trao đổi</h4>
							<a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
							<div class="heading-elements">
								<ul class="list-inline mb-0">
									<li><a data-action="collapse"><i class="ft-minus"></i></a></li>
									<li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
									<li><a data-action="expand"><i class="ft-maximize"></i></a></li>
									<li><a data-action="close"><i class="ft-x"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="card-content collapse show">
							<div class="table-responsive">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>#</th>
											<th>Mã BL</th>
											<th>Loại BL</th>
											<th>Điểm quy đổi</th>
											<th>Thời gian</th>
											<th>Hành Động</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let backlink of backlinks; index as i">
											<td>{{ i + 1}}</td>
											<td>{{backlink.id.substr(7)}}</td>
											<td *ngIf="backlink.blockPixel">Action</td>
											<td *ngIf="!backlink.blockPixel">Backlink</td>
											<td>{{backlink.point}}</td>
											<td>{{backlink.createAt | date:'HH:mm:ss dd-MM-yyyy'}}</td>
											<td class="text-center">
												<button type="button" class="btn btn-outline-primary mr-1"
													(click)="onClickBacklinkDetail(backlink.id);">
													<i class="ft-eye"></i> Chi tiết
												</button>
												<button type="button" class="btn btn-outline-success mr-1">
													<i class="ft-camera"></i> Theo dõi
												</button>
											</td>
										</tr>
										<tr>
											<td colspan="6" class="text-center">
												<button type="button" class="btn btn-outline-warning mr-1">
													<i class="ft-repeat"></i> Xem thêm
												</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!--Large modal-->
							<div *ngIf="verify" bsModal #childModal="bs-modal" class="modal fade" tabindex="-1"
								role="dialog" aria-labelledby="dialog-sizes-name1">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										<div class="modal-header">
											<h4 id="dialog-sizes-name1" class="modal-title pull-left">Thông tin Backlink
											</h4>
											<button type="button" class="close pull-right" (click)="childModal.hide()"
												aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body row">
											<div class="col-md-12">
												<p>Mã Backlink : <code *ngIf="backlink">{{ backlink.id }}</code></p>
												<p>
													Điểm thưởng mỗi trang Backlink : <code
														*ngIf="backlink">{{ backlink.point / backlink.limit }}</code> | 
													Thời gian kết thúc Backlink <code
														*ngIf="backlink">{{backlink.endTime | date:'HH:mm:ss dd-MM-yyyy'}}</code>
												</p>
											</div>
											<div class="col-md-12">
												<p><code>Lưu ý:</code> Backlink sau khi được xác thực đã gắn vào website của bạn, điểm thưởng sẽ được cộng vào "Ví điểm khóa" và số điểm này sẽ được chuyển đến "Ví điểm thực" sau khi thời hạn Backlink này kết thúc.</p>
											</div>
											<hr>
											<div class="col-md-12">
												<p>Các bước xác nhận gắn Backlink vào trang web của bạn:</p>
												<p>Bước 1 : Chèn mã sau vào nội dung trong website của bạn :</p>
												<pre class="language-markup">
													<code class="language-markup">{{blcode}}</code>
												</pre>
												<p>Bước 2 : Nhúng mã sau vào trang web của bạn :</p>
												<pre class="language-markup">
													<code class="language-markup">{{verify}}</code>
												</pre>
												<br>
												<p>Bước 3 : Nhấn "Xác Thực" để hệ thống xác thực mã nhúng của bạn</p>
												<form [formGroup]="varifyForm" (ngSubmit)="onVerifySubmit()"
													class="text-center">
													<div class="form-group row">
														<div class="col-md-12">
															<input type="text" class="form-control" value=""
																formControlName="urlVerify"
																placeholder="Nhập Url bạn đã nhúng mã trên">
															<div class="invalid-tooltip"
																*ngIf="varifyForm && varifyForm.controls.urlVerify.errors && !varifyForm.controls.urlVerify.pristine">
																{{varifyForm.controls.urlVerify.errors.message}}
															</div>
														</div>
													</div>
													<button type="submit" class="btn btn-outline-success mr-1">
														<i class="ft-repeat"></i> Xác thực
													</button>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ Emails Products & Avg Deals -->
			<!--/ Products sell and New Orders -->
		</div>
	</div>
</div>