<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-wrapper-before"></div>
        <div class="content-header row">
            <div class="content-header-left col-md-4 col-12 mb-2">
                <h3 class="content-header-title">Thành Viên</h3>
            </div>
            <div class="content-header-right col-md-8 col-12">
                <div class="breadcrumbs-top float-md-right">
                    <div class="breadcrumb-wrapper mr-1">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Trang
                                    chủ</a></li>
                            <li class="breadcrumb-item"><a href="#">Quản Lý Điểm</a></li>
                            <li class="breadcrumb-item active">Thành Viên</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Bordered striped start -->
            <div class="row" *ngIf="!id">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Thêm, xóa, sửa thành viên</h4>
                            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                    <li><a data-action="close"><i class="ft-x"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content collapse show">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Tên Thành Viên</th>
                                            <th>Username</th>
                                            <th>Điểm</th>
                                            <th>Ngày Tạo</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>2</td>
                                            <td>3</td>
                                            <td>4</td>
                                            <td>5</td>
                                            <td class="text-center"><a href="./point/member.html"><button type="button"
                                                        class="btn btn-outline-info mr-1">
                                                        <i class="ft-edit"></i>
                                                    </button></a>
                                                <button class="btn btn-outline-danger mr-1">
                                                    <i class="ft-trash-2"></i>
                                                </button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- edit pointMember -->
            <div class="row" *ngIf="id">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title" id="horz-layout-basic">Thay Đổi
                                Thông Tin Thành Viên</h4>
                            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                    <li><a data-action="close"><i class="ft-x"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content collpase show">
                            <div class="card-body">
                                <div class="card-text">
                                    <p><span style="color: red">*Chú ý:</span> Hãy cẩn trọng khi thay đổi bất kì thông
                                        tin nào.</p>
                                </div>
                                <form class="form form-horizontal" action="./point/member.html" method="POST">
                                    <div class="form-body">
                                        <h4 class="form-section">
                                            <i class="ft-clipboard"></i>Thông Tin Cá Nhân
                                        </h4>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="projectinput5">ID</label>
                                            <div class="col-md-9">
                                                <input type="text" id="projectinput5" class="form-control" value=""
                                                    name="id" readonly="readonly">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="projectinput5">Tên
                                                Thành Viên</label>
                                            <div class="col-md-9">
                                                <input type="text" id="projectinput5" class="form-control" value=""
                                                    name="fullname" disabled>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="projectinput5">Username</label>
                                            <div class="col-md-9">
                                                <input type="text" id="projectinput5" class="form-control" value=""
                                                    name="username" disabled>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="projectinput5">Điểm</label>
                                            <div class="col-md-9">
                                                <input type="number" id="projectinput5" class="form-control" value=""
                                                    name="point">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="projectinput5">Ngày
                                                Tạo</label>
                                            <div class="col-md-9">
                                                <input type="text" id="projectinput5" class="form-control" value=""
                                                name="createAt" disabled>
                                            </div>
                                        </div>
                                        <input type="hidden" name="_method" value="PUT">
                                    </div>
                                    <div class="form-actions right">
                                        <a href="./point/member.html"><button type="button" class="btn btn-danger mr-1">
                                                <i class="ft-x"></i> Trở về
                                            </button> </a>
                                        <button type="submit" class="btn btn-primary">
                                            <i class="la la-check-square-o"></i> Cập nhật
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>